/* body, html {
    margin: 0;
    padding: 0;
}
 */
.slide-container {
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.page-title {
    width: 100%;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title .welcome {
    width: 100%;
    height: 200px;
    background: rgba(9, 9, 9, 0.2);
    backdrop-filter: blur(1.6px);
    -webkit-backdrop-filter: blur(1.6px);

    display: flex;
    justify-content: center;
    align-items: center;

}
.welcome > h1 {
    font-size: 86px;
}

.book-table-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #A0E7E5;
    color: #4A4A4A; 
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #B4F8C8; 
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    margin-top: 30px
}

.book-table-btn:hover {
    background-color: #FBE7C6; 
    border-color: #FFAEBC;
    transform: translateY(-1px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}



.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    flex-direction: row;
    width: 400%;
    height: 100%;
    animation: slide 40s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-25%); }
    50%, 70% { transform: translateX(-50%); }
    75%, 95% { transform: translateX(-75%); }
    100% { transform: translateX(0); }
}