.data-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000
}
.container {
  margin: 2rem auto;
  padding: 2rem;
  width: 90%;
  background-color: #fafafa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  max-height: 100vh;
  overflow: scroll;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
}

.table th, .table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.update-button, .delete-button {
  border: none;
  padding: 0.5rem 1rem;

  cursor: pointer;
  color: #fff;
  font-size: 0.875rem;
}

.update-button {
  background-color: #007bff;
  transition: background-color 0.3s;
}

.update-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}


.delete-confirmation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  gap: 10px;

  .btnContainer {
    display: flex;
    gap: 30px;

    > button {
      width: 125px;
  }

}

}

