.data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  width: 100%;
}

.container {
  margin: 2rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 1200px;
  background-color: #fafafa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 30px;
}

.time-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.date {
  padding-right: 10px;
}

.time-btns input[type="date"] {
  padding: 0.5rem;
  border: 1px solid #ddd;

}

.time-btns button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;

  cursor: pointer;
  transition: background-color 0.3s;
}

.time-btns button:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
}

.table th, .table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


@media screen and (max-width: 768px) {
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  
  .table tr {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .table td {
    border-bottom: none;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }
  
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.75rem;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }
  
  .table thead {
    display: none;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

  }

  .actions::before {
    content: none 
  } 
}



.update-button, .delete-button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #fff;
  font-size: 0.875rem;
}

.update-button {
  background-color: #007bff;
  transition: background-color 0.3s;
  margin-right: 10px;

}

.update-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}

.delete-confirmation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.delete-confirmation .btnContainer {
  display: flex;
  gap: 30px;
}

.delete-confirmation .btnContainer > button {
  width: 125px;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: white;
}

.delete-confirmation .btnContainer > button:first-child {
  background-color: #dc3545;
}

.delete-confirmation .btnContainer > button:last-child {
  background-color: #6c757d;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
    width: 95%;
  }

  .table {
    font-size: 0.875rem;
  }

  .table th, .table td {
    padding: 0.5rem;
  }

  .actions {
    flex-direction: column;

  }



  .update-button, .delete-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .update-button{
    margin-bottom: 10px;
  }

  .time-btns {
    flex-direction: column;
    align-items: stretch;
  }

  .time-btns > div {
    display: flex;
    flex-direction: column;
  }

  .time-btns input[type="date"] {
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.25rem;
  }

  .table {
    font-size: 0.75rem;
  }

  .update-button, .delete-button {
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
  }
}