.pick-time-container {
    margin: 2rem auto;
    padding: 1rem;

    background-color: #FFAEBC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    max-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .pick-time-title {
    font-size: 1.5rem;
    color: #4f46e5;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .pick-time-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .pick-time-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .pick-time-radio {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #4f46e5;
    outline: none;
    cursor: pointer;
  }
  
  .pick-time-radio:checked {
    background-color: #4f46e5;
    box-shadow: inset 0 0 0 2px #fff;
  }
  
  .pick-time-radio:disabled {
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .pick-time-label {
    font-size: 1rem;
    color: #333;
    display: flex;
     gap: 20px;
  }
 
  .pick-time-label >p {
    color: #dc3545;
  text-transform: capitalize;
  }
  
  .pick-time-selected {
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: 1rem;
  }
  
  .pick-time-fully-booked {
    font-size: 1.8rem;
    color: #dc3545;
    text-align: center;
 
  }